@{
    this.Layout = "~/Views/Shared/_layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPass</title>
</head>
<body>
    <div>
        <fieldset>
            <legend><b>FORGOT PASSWORD</b></legend>
            <form>
                Enter Email:
                <input type="password" />
                <hr />
                <input type="submit" value="Submit" />
            </form>
        </fieldset>
    </div>
</body>
</html>
